
* {
    cursor: none;
}

.dot,
.dot_outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dot {
    width: 1vw;
    height: 1vw;
    background: var(--green);
}

.dot_outline {
    width: 4vw;
    height: 4vw;
    background: transparent;
    border: 2px solid var(--green);
}